{% extends 'base_final.html' %}
{% load static %}
{% load notifications_tags %}

{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
	 <!-- ==============================================
	 News Feed Section
	 =============================================== -->
	  
	 <section class="stories">
	 
	  <div class="container">

	{% for tag in object_list %}

      {% if  tag.id == 1 or  tag.id == 2 or  tag.id == 3 or  tag.id == 4 %}
      {% if tag.id == 4 %}
	   <div class="row">
       {% endif %}
	   {% if tag.id is 1 %}
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/9.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}

        {% if tag.id is 2 %}
	   
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/2.gif'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
       
          </div>		  
		 </div>
		 </a>
		</div> 
	    {% endif %}
		
        {% if tag.id is 3 %}
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/4.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
		
        {% if tag.id is 4 %}
         <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/4.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
		 
    {% if tag.id == 4  %}
	   </div>
       {% endif %}
       {% endif %}

	   {% if  tag.id == 5 or  tag.id == 6 or  tag.id == 7 or  tag.id == 8 %}
	     {% if tag.id == 8 %}
	   <div class="row">
       {% endif %}
	    {% if tag.id is 5 %}
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/23.gif'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
		
        {% if tag.id is 6 %}	   
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/8.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
		
        {% if tag.id is 7 %}	   
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/3.gif'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
		{% endif %}
		
        {% if tag.id is 8 %}
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/3.gif'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
	    
    {% if tag.id == 8  %}
	   </div>
       {% endif %}
       {% endif %}

	   {% if tag.id == 9 or  tag.id == 10 or  tag.id == 11 or  tag.id == 12 %}
	    {% if tag.id == 12 %}
	   <div class="row">
       {% endif %}
		{% if tag.id is 9 %}

	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/6.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
        
	   
       {% if tag.id is 10 %} 
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/13.gif'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
	    {% endif %}
		
        {% if tag.id is 11 %}
	    <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/24.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
		
        {% if tag.id is 12 %}
        <div class="col-lg-3">
		 <a href="{%url 'tags:tag_detail' pk=tag.id slug=tag.slug %}">
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{% static 'assets/img/posts/24.jpg'%}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
           <h4>{{tag.title}}</h4>
          </div>		  
		 </div>
		 </a>
		</div> 
        {% endif %}
	    {% if tag.id == 12  %}
	   </div>
       {% endif %}
       {% endif %}

	   {% endfor %}
	   
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/base.js'%}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.js'%}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
{% endblock content%}
