{% extends 'base_final.html' %}
{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <div id='test' user="{{user.userprofile}}" hidden></div>
	  <section class="profile">
	  <div class="container-fluid">
	   <div class="row">
	   
	   <div class="col-lg-3">
		 <div class="profilebox hidden-xs hidden-sm" 
		   style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{{user.userprofile.background.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">		  
		 </div>
		 <div class="profilebox hidden-xs hidden-sm" 
		   style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{{user.userprofile.background_2.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">		  
		 </div>
	   </div>
	   <div class="col-lg-6">
		 <div class="profilebox-large hidden-xs hidden-sm" 
		   style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{{user.userprofile.background_3.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">		  
		 </div>
	   </div>
	   <div class="col-lg-3">
		 <div class="profilebox hidden-xs hidden-sm" 
		   style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{{user.userprofile.background_4.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">		  
		 </div>
		 <div class="profilebox" 
		   style="background: linear-gradient( rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url('{{user.userprofile.background_5.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">		  
		 </div>
	   </div>
		
       </div><!--/ row-->	
	  </div><!--/ container -->
	 </section><!--/ profile -->
  
	 <!-- ==============================================
	 User Profile Section
	 =============================================== --> 
	 <section class="user-profile">
	  <div class="container-fluid">
	   <div class="row">
	   
	    <div class="col-lg-12">
		   <div class="post-content">
		    <div class="author-post text-center">
		     <a href="#"><img class="img-fluid img-circle" src="{{user.userprofile.avatar.url}}" alt="Image"></a>
		    </div><!-- /author -->
		   </div><!-- /.post-content -->		
		</div><!-- /col-sm-12 -->
		
       </div><!--/ row-->	
	  </div><!--/ container -->
	 </section><!--/ profile -->
  
	 <!-- ==============================================
	 User Profile Section
	 =============================================== --> 
	 <section class="details">
	  <div class="container">
	   <div class="row">
	    <div class="col-lg-12">


		
		 
          <div class="details-box row">
		   <div class="col-lg-9">
           <div class="content-box">
		     <h4>{{user.username}} {% if object.is_following.count > 1000 %}<i class="fa fa-check"></i>{% endif %}</h4>
             <p>{{user.userprofile.bio}} <span class="hashtag">#pixels</span></p>
			 <small><span>{{user.userprofile.email}}</span></small>
           </div><!--/ media -->
		   </div> 
		   <div class="col-lg-3">
           <div class="follow-box">
		    {% comment %} <a href="#" class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i> Following</a>
			 {% endcomment %}
			{% if not own %}
			<div id='is_following'>
				
					{% if is_following == True %}
					<a class="btn btn-success" id="follow-button" toggle="{{user.userprofile}}" type='submit'>{% csrf_token %}Unfollow</a>
					{% else %}
					<a class="btn btn-warning" id="follow-button" toggle="{{user.userprofile}}" type='submit'>{% csrf_token %}
					Follow
					</a>
					{% endif %}
				
			</div>
			{% endif %}
   
		  
           </div><!--/ dropdown -->
		   </div>
          </div><!--/ details-box -->
		  
		</div>
	   </div>
	  </div><!--/ container -->
	 </section><!--/ profile -->

	 <!-- ==============================================
	 Home Menu Section
	 =============================================== -->	
     <section class="home-menu">
      <div class="container">
       <div class="row">

        <div class="menu-category">
         <ul class="menu">
          <li class="current-menu-item"><a href="{%url 'profiles:detail' username=request.user %}">Posts <span>{{posts.count}}</span></a></li>
		  
          <li><a href="{% url 'profiles:followers' username=user.username%}">Followers <span>{{user.is_following.count}}</span></a></li>
          <li><a href="{% url 'profiles:followings' username=user.username%}">Following <span>{{user.userprofile.follower.count}}</span></a></li>
		  <li><a href="{% url 'profiles:rank_detail' username=user.username %}">Ranks <span>{{user.userprofile.rank.count}}</span></a></li>
         </ul>
		</div>
		
	   </div><!--/row -->
      </div><!--/container -->
     </section><!--/home-menu -->	

	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <section class="newsfeed">
	  <div class="container">
	  
	   <div class="row">
	   {% if posts%}
        {% for post in posts %}
	    <div class="col-lg-4">
		 <a href="{%url 'posts:post_detail_final' pk=post.pk slug=post.slug %}" data-toggle="modal">
		 <div class="explorebox" 
		   style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url('{{post.image_data.url}}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
		  <div class="explore-top">
		   <div class="explore-like"><i class="fa fa-heart"></i> <span>{{post.likes.count}}</span></div>
		   <div class="explore-circle pull-right"><i class="far fa-bookmark"></i></div>
          </div>		  
		 </div>
		 </a>
		</div><!--/ col-lg-4 -->
        {% endfor %}
        {% endif %}
		
	   </div><!--/ row -->
	   
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->


	
	<script>
		var user = $('#test').attr('user');
		console.log(user,'test purpose');
		$(document).on('click', '#follow-button', function (e) {
			e.preventDefault();
			$.ajax({
			type: 'POST',
			url: '{% url "profiles:toggle" %}',
			data: {
				user_toggle: user,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				action: 'POST',
			},
			success: function (json) {
				result = json['result']
				console.log(result,"maii mai maima maima a")
				if (result) {
					document.getElementById("is_following").innerHTML = '<a class="btn btn-success" id="follow-button" toggle="{{user.userprofile}}" type="submit">{% csrf_token %}UnFollow</a>'
					}
				else
					document.getElementById("is_following").innerHTML = '<a class="btn btn-warning" id="follow-button" toggle="{{user.userprofile}}" type="submit">{% csrf_token %}Follow</a>'
					
			},
			error: function (xhr, errmsg, err) {
			}
			});
		})
	</script>
  
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>

	
{% endblock content %}
