{% extends 'base_final.html' %}
{% load notifications_tags %}

{% block content %}
{% include 'theme/snippets/navbar_second.html' %}

     	
  
	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <section class="followers">
	  <div class="container-fluid">
	   <div class="row">
	   
	    <div class="col-lg-8 col-lg-offset-2">
         <div class="followers-box full-width">
			<div class="followers-list">
			{% for follower in user.is_following.all %}
			
				<div class="followers-body">
				 <img class="img-responsive img-circle" src="{{follower.avatar.url}}" alt="">
				 <div class="name-box">
				  <h4>{{follower}}</h4>
				  <span>@{{follower}}</span>
			     </div><!--/ name-box -->
				{% if follower.user in request.user.userprofile.follower.all %}
				{% comment %} <div id='test' user="{{follower.userprofile}}" hidden></div> {% endcomment %}
                 <span id="is_following{{follower.id}}"><a class="btn btn-success" id="follow-button" toggle="{{follower}}" followerID="{{follower.id}}" type="submit">{% csrf_token %}UnFollow</a></span>
                 {% else %}
				 {% comment %} <p id="test{{follower.userprofile.id}}" user="{{follower.userprofile}}" hidden></p> {% endcomment %}
                 <span id="is_following{{follower.id}}"><a class="btn btn-warning" id="follow-button" toggle="{{follower}}" followerID="{{follower.id}}" type="submit">{% csrf_token %}Follow</a></span>
                  {% endif %}
				</div><!--/ followers-body -->
                {% endfor %}
			</div><!--suggestions-list end-->
		</div>	
		
		</div>
		
       </div><!--/ row-->	
	  </div><!--/ container -->
	 </section><!--/ profile -->

	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>


<script>
	
		
		
		$(document).on('click', '#follow-button', function (e) {
			var user = $(this).attr('toggle');
			var user_id = $(this).attr('followerID');

			var parse_id_to_inject_button = "is_following"+user_id;

			
			console.log(parse_id_to_inject_button,'im im im tested');



			e.preventDefault();
			$.ajax({
			type: 'POST',
			url: '{% url "profiles:toggle" %}',
			data: {
				user_toggle: user,
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				action: 'POST',
			},
			success: function (json) {
				result = json['result']
				//user=json['json_follower']
				//console.log(user,"maii mai maima maima a")
				if (result) {
					document.getElementById(parse_id_to_inject_button).innerHTML = '<a class="btn btn-success" id="follow-button" toggle="'+user+'" followerID="'+user_id+'" type="submit">{% csrf_token %}UnFollow</a>'
					}
				else
					document.getElementById(parse_id_to_inject_button).innerHTML = '<a class="btn btn-warning" id="follow-button" toggle="'+user+'" followerID="'+user_id+'" type="submit">{% csrf_token %}Follow</a>'
					
			},
			error: function (xhr, errmsg, err) {
			}
			});
		})
</script>
{% endblock content %}