{% load static %}
	 	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fluffs - Ultimate Bootstrap Social Network UI Kit</title>
		<meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />		
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
        
		<link rel="icon" href="{% static 'assets/img/logo.html'%}">
		<link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.html'%}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.html'%}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.html'%}">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="{% static 'assets/css/demos/photo.css' %}" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'blog/css/custom.css'%}">
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="{% static 'assets/js/modernizr-custom.html' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <!-- Medium Style Editor -->
          <link rel="stylesheet" href="{% static 'blog/css/tagsinput.css' %}">

     <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
<script src="{% static 'notifications/notify.js' %}" type="text/javascript" ></script>

  <link rel="stylesheet" href="{% static 'followers/follow.css' %}">
<script src="{% static 'js/follow.js' %}" type="text/javascript"></script>
     
