{% extends 'base_final.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<style>
.tags{
  margin-left:50px;
}
.btn{
    float:right;
}
.form-control:focus {
   box-shadow:none;
}

.blogbody{
    font-size:20px;
    text-align: left;
    border: 0px;
    outline:none;
    width: 100%;
    height:150px;
    
}
.blogtitle{
    font-size:40px;
    text-align: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-style: groove;
    outline-width: 0;
    box-shadow:none;

</style>

<form enctype="multipart/form-data" method="POST">
<div style="margin-top:20px"></div>
{% csrf_token %}

<input type="submit" value='Preview' class="btn btn-primary btn-large">

<div class="row">
    <div class="tags col-lg-2 col-md-12 col-sm-12">
     {% bootstrap_field form.tag %}
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
    {% bootstrap_field form.title%}
     <label class="hand-cursor">
    <span  title="story cover" class="fa fa-camera"></span>
    <input type="file" name="image_data" class="blogimage" accept="image/*" title="story cover" required="" id="id_image_data" nv-file-select uploader="$ctrl.uploader"  style="display:none"/>
    <img id="previewHolder" width="100%" height="auto"/>
    </label>
    {% bootstrap_field form.body%}
    </div>
</div>
   

</form>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#previewHolder').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    alert('select a file to see preview');
    $('#previewHolder').attr('src', '');
  }
}

$("#id_image_data").change(function() {
  readURL(this);
});

</script>
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/base.js'%}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.js'%}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock content %}