{% extends 'base_final.html' %}
{% load static %}


{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
<style>
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a {
  color: red;
  text-decoration: none;
}
</style>
<div class="mb-12">

{% include './snippets/buttons.html' %}

</div>
    <h1 >Published blogs</h1>
    <p class="text-small text-muted mb-12">All you unpublish blogs are here </p>
    <ul>
    {% for blog in object_list %}
        <li class="media mb-1"><a href="post.html"><img src="{{blog.image_data.url}}" alt="" width="180"></a>
            <div class="media-body ml-3">
                <p class="small text-primary text-uppercase mb-0">{{ blog.create_date|date:'d-m-Y'}}</p>
                    <h4 class="mb-1"><a class="reset-anchor" href="{% url 'blogs:blog_detail_final' pk=blog.pk slug=blog.slug%}">{{blog.title}}</a></h4>
                <p class="small text-muted">{{blog.body|safe|truncatechars:200}}</p>
                <a class="btn btn-warning"href={% url 'blogs:update' pk=blog.pk slug=blog.slug %}>edit</a>
                <a class="btn btn-primary" href="{% url 'blogs:blog_publish' pk=blog.pk slug=blog.slug %}">Publish NOW!</a>
                <a class="btn btn-danger" href={% url 'blogs:blog_remove' pk=blog.pk slug=blog.slug %}>delete</a>
            </div>
        </li>
    {% endfor%}
    </ul>
</div>


{% endblock content %}
