{% extends 'base_final.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
 <style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

</style> 
<style>
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a {
  color: red;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
p{
  font-size:18px;
  font-family: 'Roboto', sans-serif;
}
b{
  font-size:18px;
  font-family: 'Roboto', sans-serif;
}
blockquote{
  font-family: 'Roboto', sans-serif;
}
.body{
  margin-left: auto;
  margin-right: auto;
}
</style>

    <section class="py-5">
      <div class="container text-center">
      <h1 class="posttitle loader">{{post.title}}</h1>
        {% if blog.published_date %}
        {% else %}
        <a class="btn btn-primary" href="{% url 'blogs:blog_publish' pk=blog.pk slug=blog.slug %}">Publish</a>

        {% endif %}
        <p class="h6 mb-0 text-uppercase text-primary">Life Lesson</p>
        <h1>{{blog.title|safe|linebreaksbr}}</h1>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aliquid</p>
        <ul class="list-inline small text-uppercase mb-0">
          <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="{{blog.username.avatar.url}}" alt="" width="40"/></li>
          <li class="list-inline-item mr-0 text-muted align-middle">By </li>
          <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{blog.username}}</a></li>
          <li class="list-inline-item text-muted align-middle mr-0">|</li>
          <li class="list-inline-item text-muted align-middle mr-0">{% if not blog.published %}{{blog.create_date|timesince}}{% else %}{{blog.published_date|timesince}}{% endif %}</li>
          <li class="list-inline-item text-muted align-middle mr-0">|</li>
          <li class="list-inline-item text-muted align-middle">{{blog.blog_comments.count}} Comments</li>
        </ul>
      </div ><img class="cover" src="{{blog.image_data.url}}" alt="">
      <div class="container" id="blog_id" blog-id="{{blog.pk}}" blog-slug="{{blog.slug}}">
        <div class="row">
          <div class="body col-lg-10 mb-5 mb-lg-0">
            <p class="lead first-letter-styled line-height-lg postcontent">{{blog.body|safe}}</p>
  
          
            <form id='commentform' class='commentform' method='POST'>  
               {% csrf_token %} 
              <select name='blog' class='d-none hidden' id='id_blog'>
                <option value="{{ blog.id }}" selected="{{ blog.id }}"></option>
              </select>
              <label class='small font-weight-bold'>{{comment_form.parent.label}}</label>
			    <div >
              <span class="thumb-xs">
				<img  id='avatar_comment' class="img-responsive img-circle avatar_comment" src="{{request.user.userprofile.avatar.url}}" alt="Image">
			   </span>
			   <div class="comment-body">
				 {{comment_form.body }}
                 <button type='submit' class='newcomment btn btn-primary hidden' value='commentform' id='newcomment'><i class="fas fa-paper-plane"></i></button>
			   </div><!--/ comment-body -->
               </form>	
            <h3 class="h4 mb-4 d-flex align-items-center"><span>Comments</span><span class="text-small ml-3 text-gray">- {{blog.blog_comments.count}} Comments</span></h3>
            <ul class="list-unstyled comments">
            {% recursetree allcomments %}
              <li >
                <div class="d-flex mb-4" id='{{node.id}}'>
                  <div class="pr-2 -grow-1" ><img style="width:75px;min-width:75px;" class="rounded-circle shadow-sm img-fluid img-thumbnail" src="{{node.author.userprofile.avatar.url}}" alt=""></div>
                  <div class="pl-2">
                    <p class="small mb-0 text-primary">{{node.create_date|timesince}}</p>
                    <h5>{{node.author}}</h5>
                    <p class="text-muted text-small mb-2">{{node.body|linebreaks}}</p>
                    {% if node.level < 1 %} 
                <button class='btn btn-link' style="padding:0;border: none;border-radius: 0; background-color: trasparent;color:black" onclick="myFunction({{node.id}})" title="Reply this comment" ><i class="fa fa-reply" aria-hidden="true"></i></button>
                {% endif %}
                {% comment %} delete section  {% endcomment %}
                 {% if node.author|stringformat:"s" == user.get_username  %}
                <button class="btn btn-link" style=" padding:0;border: none;border-radius: 0; background-color: trasparent;" onclick="deleteComment({{ node.id }})" title="delete this comment" aria-label="Delete"><span class="hover-only-label" style="color:red;">Delete</span></button>
                {% endif %}
                  {% if not node.is_leaf_node %}
                    <ul>
                    {{children}}
                    </ul>
                    {% endif %}
          
                  </div>
                </div>
              </li>
              {% endrecursetree %}
            </ul>
        </div>
      </div>
      </div>
    </section>
    <footer class="bg-dark py-4">
      <div class="container" style="padding:10px solid black;">
       <p >Developed by AHmed Yasin</p>
      </div>
    </footer>
<script>
//Comments
  
  $(document).on('click', '#newcomment, #newcommentinner', function (e) {
    e.preventDefault();

    var button = $(this).attr("value");
    var blog_id =$('#blog_id').attr('blog-id');
    var blog_slug = $('#blog_id').attr('blog-slug');
    console.log(blog_id,'blogid')
    var placement = "commentform"
    if (button == "newcommentform") {
      var placement = "newcommentform"
    }
    
    var imgFullURL= $('#avatar_comment').attr('src');
    $.ajax({
      type: 'POST',
      url: '{% url "blogs:addcomment" %}',
      data: $("#" + button).serialize() + "&blog_id="+blog_id + "&blog_slug="+blog_slug,
      cache: false,
      error: console.log('blog_id' + blog_id),
      success: function (json) {
        console.log(json)

        $('<div class="d-flex mb-4">\
    <div class="pr-2 flex-grow-1" style="width: 75px; min-width: 75px;"><img class="rounded-circle shadow-sm img-fluid img-thumbnail" src="'+ imgFullURL + '" alt=""></div>\
        <div class="pl-2">\
            <p class="small mb-0 text-primary">just now</p>\
            <h5>' + json['user'] + '</h5>\
            <p class="text-muted text-small mb-2">' + json['result2'] + '</p><a class="reset-anchor text-small" href="#"><i class="fas fa-share mr-2 text-primary"></i><strong>Reply</strong></a>\
    </div>\
</div>\
        ').insertBefore('#' + placement);

        $('.commentform').trigger("reset");
        formExit()
      },
      error: function (xhr, errmsg, err) {
      }
    });
  })

function formExit() {
    document.getElementById("newcommentform").remove();
  }

function myFunction(id) {
    if (document.contains(document.getElementById("newcommentform"))) {
      document.getElementById("newcommentform").remove();
    }
    var blog_id =$('#blog_id').attr('blog-id');
    var imgFullURL= $('#avatar_comment').attr('src');
    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newcommentform" class="commentform" method="post"> \
        {% csrf_token %} \
        <select name="blog" class="d-none hidden" id="id_post"> \
          <option value="' + blog_id +'" selected="' + blog_id + '"></option> \
        </select> <label class="small font-weight-bold"></label> \
        <select name="parent" class="d-none hidden" id="id_parent"> \
          <option value="' + id + '" selected="' + id + '"></option> \
        </select> \
         <div class="d-flex"> \
          <img id="avatar_comment" class="avatar_comment img-responsive img-circle"" src="' + imgFullURL + '"> \
          <textarea style="margin-left:4px;" name="body" cols="40" rows="1" class="ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" id="id_content"></textarea> \
        </div> \
        <div class="d-flex flex-row-reverse" style="margin-left:10px;"> \
        <button type="button" class="btn btn-link" onclick="formExit()">Close</button> \
        <button type="submit" class="newcomment btn btn-link" value="newcommentform" id="newcommentinner"><i class="fas fa-paper-plane"></i></button>\
        </div> \
      </form>'
    );
  }

function formExit() {
    document.getElementById("newcommentform").remove();
  }

function deleteComment(id) {
    var blog_id =$('#blog_id').attr('blog-id');
    var blog_slug = $('#blog_id').attr('blog-slug');
    console.log(id)
    $.ajax({
      type: 'POST',
      url: '{% url "blogs:addcomment" %}',
      data: {
        nodeid: id,
        blog_id:blog_id,
        blog_slug:blog_slug,
        action: 'delete',
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (json) {
        $("#" + json['remove']).remove();
      },
      error: function (xhr, errmsg, err) {}
    });
  }

  $('#myForm').trigger("reset");
</script>

<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/base.js'%}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.js'%}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
{% endblock content %}
