{% extends 'base_final.html' %}
{% load static %}
{% load mptt_tags %}
{% load notifications_tags %}

{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
<style>
.comment_form.body:focus {
  box-shadow: none;
}
h1 {
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    color: #88898a !important;
</style>
	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <section class="single-post">
	 
	   <div class="row">
	 
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-body">
		
         <div class="row">
          <div class="col-md-8 modal-image">
           <img class="img-responsive" src="{{post.image_data.url}}" alt="Image"/>
           <h5>{{post.title|safe}}</h5>
          </div><!--/ col-md-8 -->
          <div class="col-md-4 modal-meta">
           <div class="modal-meta-top">
            
            
            <div class="img-poster clearfix" id="post_id" post-id="{{post.pk}}" post-slug="{{post.slug}}">
             <span>By-</span><a href="{% url 'profiles:detail' username=post.username %}"><img class="img-responsive img-circle" src="{{post.username.avatar.url}}" alt="Image"/></a>
             <strong><a href="{% url 'profiles:detail' username=post.username %}">{{post.username}}</a></strong>
             <span>{{object.create_date|timesince}}</span><br/>
		     <a href="#" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
            </div><!--/ img-poster -->
			  
            <ul class="img-comment-list">
            {% recursetree allcomments %}
             <li id="{{node.id}}">
              <div class="comment-img">
               <img src="{{node.author.userprofile.avatar.url}}" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="#">{{node.author}}</a></strong>
               <p>{{node.body|linebreaks}}</p> <span class="date sub-text">{{node.create_date|timesince}}</span>
               {% comment %} reply section {% endcomment %}
                {% if node.level < 1 %} 
                <button class='btn btn-link' style="padding:0;border: none;border-radius: 0; background-color: trasparent;color:black" onclick="myFunction({{node.id}})" title="Reply this comment" ><i class="fa fa-reply" aria-hidden="true"></i></button>
                {% endif %}
                {% comment %} delete section  {% endcomment %}
                 {% if node.author|stringformat:"s" == user.get_username  %}
                <button class="btn btn-link" style=" padding:0;border: none;border-radius: 0; background-color: trasparent;" onclick="deleteComment({{ node.id }})" title="delete this comment" aria-label="Delete"><span class="hover-only-label" style="color:red;">Delete</span></button>
                {% endif %}
              </div>
              </li><!--/ li -->
              {% if not node.is_leaf_node %}
                <ul>
                    {{children}}
                </ul>
              {% endif %}
             {% endrecursetree %}
            </ul><!--/ comment-list -->
			 
         
            <div class="modal-meta-bottom">
			 <ul>
			  <li><button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="like-button" value="{{post.id}}">{% csrf_token %}
                    <i class="fa fa-heart"></i><span class="" id="like_count">{{post.likes.count}}</span>
                    </button> | 
			      <span><i class="fa fa-comments"></i></span><span> {{post.comments.count}}</span> </li>
			  <li>
             <form id='commentform' class='commentform' method='POST'>  
               {% csrf_token %} 
              <select name='post' class='d-none hidden' id='id_post'>
                <option value="{{ post.id }}" selected="{{ post.id }}"></option>
              </select>
              <label class='small font-weight-bold'>{{comment_form.parent.label}}</label>
			   <span class="thumb-xs">
				<img  id='avatar_comment' class="img-responsive img-circle avatar_comment" src="{{request.user.userprofile.avatar.url}}" alt="Image">
			   </span>
			   <div class="comment-body">
				 {{comment_form.body }}
                 <button type='submit' class='newcomment btn btn-primary hidden' value='commentform' id='newcomment'><i class="fas fa-paper-plane"></i></button>
			   </div><!--/ comment-body -->
               </form>		
              </li>				
             </ul>
            </div><!--/ modal-meta-bottom -->
           </div><!--/ modal-meta-top -->
          </div><!--/ col-md-4 -->
		  
         </div><!--/ row -->
        </div><!--/ modal-body -->
		
       </div><!--/ modal-content -->
      </div><!--/ modal-dialog -->
	  
      </div><!--/ modal-dialog -->
      </div><!--/ modal-dialog -->
     </section><!--/ modal -->	 
	   
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/base.js'%}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.js'%}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>


    <script>
  //Comments
  
  $(document).on('click', '#newcomment, #newcommentinner', function (e) {
    e.preventDefault();

    var button = $(this).attr("value");
    var post_id =$('#post_id').attr('post-id');
    var post_slug = $('#post_id').attr('post-slug');
    console.log(post_id,'postid')
    var placement = "commentform"
    if (button == "newcommentform") {
      var placement = "newcommentform"
    }
    
    var imgFullURL= $('#avatar_comment').attr('src');
    $.ajax({
      type: 'POST',
      url: '{% url "posts:addcomment" %}',
      data: $("#" + button).serialize() + "&post_id="+post_id + "&post_slug="+post_slug,
      cache: false,
      error: console.log('post_id' + post_id),
      success: function (json) {
        console.log(json)

        $('<div class="comment-img"> \
                <img  style="height:22px;width:22px;" src="'+ imgFullURL + '" class="img-responsive img-circle" alt="Image"> \
            </div> \
            <div class="comment-text"> \
                <strong><p>' + json['user'] + '</p></strong> \
                <p></p><p>' + json['result2'] + '</p><p></p> <span class="date sub-text">Just now</span> \
            </div> \
        ').insertBefore('#' + placement);

        $('.commentform').trigger("reset");
        formExit()
      },
      error: function (xhr, errmsg, err) {
      }
    });
  })

function formExit() {
    document.getElementById("newcommentform").remove();
  }

function myFunction(id) {
    if (document.contains(document.getElementById("newcommentform"))) {
      document.getElementById("newcommentform").remove();
    }
    var post_id =$('#post_id').attr('post-id');
    var imgFullURL= $('#avatar_comment').attr('src');
    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newcommentform" class="commentform" method="post"> \
        {% csrf_token %} \
        <select name="post" class="d-none hidden" id="id_post"> \
          <option value="' + post_id +'" selected="' + post_id + '"></option> \
        </select> <label class="small font-weight-bold"></label> \
        <select name="parent" class="d-none hidden" id="id_parent"> \
          <option value="' + id + '" selected="' + id + '"></option> \
        </select> \
         <div class="d-flex"> \
          <img id="avatar_comment" class="avatar_comment img-responsive img-circle"" src="' + imgFullURL + '"> \
          <textarea style="margin-left:4px;" name="body" cols="40" rows="1" class="ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" id="id_content"></textarea> \
        </div> \
        <div class="d-flex flex-row-reverse" style="margin-left:10px;"> \
        <button type="button" class="btn btn-link" onclick="formExit()">Close</button> \
        <button type="submit" class="newcomment btn btn-link" value="newcommentform" id="newcommentinner"><i class="fas fa-paper-plane"></i></button>\
        </div> \
      </form>'
    );
  }

function formExit() {
    document.getElementById("newcommentform").remove();
  }

function deleteComment(id) {
    var post_id =$('#post_id').attr('post-id');
    var post_slug = $('#post_id').attr('post-slug');
    console.log(id)
    $.ajax({
      type: 'POST',
      url: '{% url "posts:addcomment" %}',
      data: {
        nodeid: id,
        post_id:post_id,
        post_slug:post_slug,
        action: 'delete',
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (json) {
        $("#" + json['remove']).remove();
      },
      error: function (xhr, errmsg, err) {}
    });
  }

  $('#myForm').trigger("reset");
</script>


{% comment %} For like toggling {% endcomment %}
<script>


  $(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "posts:like" %}',
      data: {
        postid: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
      },
      error: function (xhr, errmsg, err) {
      }
    });
  })
</script>

{% endblock content %}

   