{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>Are you sure you want to delete <strong style="font-size: 1.2em;">"{{object}}"</strong>?</h2>
    <input type="submit" class="btn btn-danger" value="Confirm">
    <a href="{% url 'posts:post_detail' pk=post.pk slug=post.slug%}" class="btn btn-secondary">Cancel</a>
</form>

<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/base.js'%}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.js'%}"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
{% endblock content %}