{% extends 'base_final.html' %}
{% load bootstrap3 %}


{% block content %}
{% include 'theme/snippets/navbar_second.html' %}
<style>

.postbody{
	border: 0px;
    outline:none;
}
.form-control:focus {
   box-shadow:none;
}
.comment_form.body:focus {
  box-shadow: none;
}

.post_title{
    font-size:40px;
    text-align: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-style: groove;
    outline-width: 0;
    box-shadow:none;
	height:50px;
    
h1 {
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    color: #88898a !important;


#custom-button {
        background: rgba(222, 184, 135, 0);
        border-radius: 10px;
        cursor: pointer;
        border: 0px;

    }
#custom-button:hover {
        background: rgba(13, 177, 40, 0.226);
        border-radius: 10px;
        cursor: pointer;
        border: 0px;

    }
#custom-text {
        display: None;
}
</style>
  
	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
     
	 <section class="upload">
	  <div class="container">
	  
	   <div class="row">
	    <form method="POST" enctype="multipart/form-data">
	    <div class="col-lg-12">  
		
	    <div class="box" >
		  {% comment %} <form method="POST" enctype="multipart/form-data"> {% endcomment %}
		  
          {% comment %} {{form.tag}} {% endcomment %}
		  
           {% bootstrap_field form.title%}
		   
		   {% bootstrap_form_errors form %}
		  	<div class="box-footer clearfix">
			  {% csrf_token %}
		   <button type="submit" class="kafe-btn kafe-btn-mint-small pull-right btn-sm">Upload</button>
		   <ul class="nav nav-pills nav-sm">
		   <label class="hand-cursor">
    		<span  title="story cover" class="fa fa-camera"></span>
    		<input type="file" name="image_data" class="postimage" accept="image/*" title="story cover" required="" id="id_image_data" nv-file-select uploader="$ctrl.uploader"  style="display:none"/>
    		<img id="previewHolder" width="30%" height="auto"/>
			</label>
		   </ul>
		  </div>
		 
         {% comment %} </form> {% endcomment %}
		</div>	
		</div>
	   </div>
	     {% bootstrap_field form.tag %}
		 {% bootstrap_form_errors form %}
	   </form>

	   <div class="row one-row">
	    <div class="col-lg-12">
	     <a href="https://picturepan2.github.io/instagram.css/" target="_blank"><h4>Instagram Filters from Picture Pan 2</h4></a>
		</div>
	   </div>
	   
	   <div class="row">

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span>Normal</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-1977">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">1977</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-willow">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Willow</span>
            </div>
          </div>
        </div>
		
       </div><!--/ row-->	   
	   
	   <div class="row">

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-sutro">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Sutro</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-reyes">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Reyes</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-poprocket">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Poprocket</span>
            </div>
          </div>
        </div>
		
       </div><!--/ row-->	
	   
	   <div class="row">

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-inkwell">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Inkwell</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-nashville">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Nashville</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-image filter-moon">
              <img src="assets/img/posts/18.jpg" class="img-responsive" alt="Image"/>
            </div>
            <div class="card-header">
              <span class="h6">Moon</span>
            </div>
          </div>
        </div>
		
       </div><!--/ row-->	
	  
	   
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->
 


	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>
    <script type="text/javascript">
    const realFileBtn = document.getElementById("id_posti");
    const customBtn = document.getElementById("custom-button");

    customBtn.addEventListener("click", function() {
        realFileBtn.click();
    });

</script>

{% comment %} preview {% endcomment %}
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#previewHolder').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    alert('select a file to see preview');
    $('#previewHolder').attr('src', '');
  }
}

$("#id_image_data").change(function() {
  readURL(this);
});

</script>

{% endblock content %}

