{% load static %}
  <link rel="stylesheet" href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css'%}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'blog/vendor/owl.carousel2/assets/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'blog/vendor/owl.carousel2/assets/owl.theme.default.min.css'%}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'blog/css/style.default.css'%}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'blog/css/custom.css'%}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.png'%}">